
.img-with-text {
    text-align: center;
    width: 50px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
#products {
    background-color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
}

li {
    float: left;
    font-family: 'Montserrat', sans-serif;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

li a:hover, .dropdown:hover, .dropbtn {
    background-color: #707070;
}

li.dropdown {
    display: inline-block;
}
.noPadding
{
width:50px;
height:50px;
border: 3px solid #707070;
}
.padding
{
width:50px;
height:50px;
padding: 10px 30px 10px 30px;
border: 3px solid #707070;
}
  
.dropdown-content {
    border-top: 3px solid #fff;
    display: none;
    position: absolute;
    background-color: #707070;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #333;
    border: 3px solid #fff}

.dropdown:hover .dropdown-content {
    display: block;
}

li {
    border-right: 3px solid #fff;
}
.center {
  text-align: center;
}
h2 {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Montserrat', sans-serif;
}
small {
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
